@import "homeStyle.css";

.ProfileCenter {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
}

.ProfileImages>img:nth-of-type(1) {
    height: 220px;

}


.followStatus>hr {
    width: 85%;
    border: 1px solid var(--hrColor);
}

.profileIcon {
    fill: #2d99ec;
}

.Stories {
    border-radius: 1.5rem;
    width: 99%;
    height: 125px;
    background-color: #c7caf3da;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    margin-bottom: 30px;
    overflow: auto;

}

.Stories>div {
    display: flex;
    gap: 1rem;
    width: 100%;
}


.PostSide>h3 {
    margin: 0px;
    gap: 0px;
}

.Story {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
}

.Story:first-child {
    padding-left: 15px;
}

.Story:last-child {
    padding-right: 15px;
}

.Story:hover {
    cursor: pointer;
}

.Story>img {
    object-fit: cover;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #AEC6F6;
}

.Story>div {
    object-fit: cover;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #AEC6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

.Story>span {
    font-size: 12px;
    display: block;
    font-weight: bold;
    text-align: center;
}

.Add {
    margin-left: auto;
    padding-right: 15px;
}

.PublicationsSide {
    width: 99%;
}

.edit {
    width: 18px;
    margin-right: 5px;
}

.editButton {
    margin: 10px 12px 0px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    gap: 0.4rem;
    height: 40px;
    background-color: #AEC6F6;
    border-radius: 5px;
}

.editButton>span {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
}

.editButton:hover {
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
}

.editButton:hover>svg {
    cursor: pointer;
    fill: #ffffff;
}

.ProfileName {
    margin-top: -6px;
}

.followButton {
    background-color: #FADDF3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

}

/* Modal Content */
.modal-content {
    border-radius: 20px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #AEC6F6;
    color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.infoInput {
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1 1;
    font-size: 15px;
}

.form {
    margin: 40px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.form>div {
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
}

.form>div>span {
    margin-top: 10px;
}

.infoButton {
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
    margin-right: 5%;
}